.buy-now-button{
    color: black;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 30px;
   background: fixed;
}.prise{

}
.bg-color{
    background-color: blueviolet;
}
.container-laptop{
    border: none;
}